{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log Out{% endblock title %}


{% block content %}
<div class="container">
    <h1>Sign Out</h1>
    <a href="{% url 'home' %}" class="btn btn-outline-danger cancel" type="submit"><i
            class="far fa-window-close"></i></a>
    <p class="account-p">Are you sure you want to sign out now?</p>
    <form method="POST">
        {% csrf_token %} {{ form|crispy }}
        <button class="btn btn-outline-danger" type="submit"><i class="fas fa-sign-out-alt"></i></button>
    </form>
</div>
{% endblock content %}