html,
body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

/* messages with bootstrap toasts */
/* credit CI - Boutique Ado project */
.message-container {
    position: fixed;
    top: 50px;
    right: 15px;
    z-index: 100;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* spacing */

.bt-5 {
    height: 100px;
}

/* Footer */
footer {
    background-color: rgb(71, 65, 65);
    color: white;
    text-align: center;
    align-self: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
}