{% load static %}
<header>
    <div class="navbar navbar-light" style="background-color: #fff;">
        <a href=" {% url 'home' %}" class="navbar-brand my-0 mr-md-auto"><img src="{% static 'images/logos/Esse.svg'%}"
                width="150" height="100" alt="Esse"></a>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="">Public Site</a>
            {% if user.is_authenticated %}
            <img src="" alt="">
            <a class="p-2 text-dark" href="{% url 'profiles:profile' %}">{{request.user}}</a>
            <a class="p-2 text-dark" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
            <a class="p-2 text-dark" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i></a>

            <a class="btn" href="{% url 'account_signup' %}">Get started</a>
            {% endif %}
        </nav>
    </div>
</header>