{% load static %}
<header>
    <div class="navbar navbar-light">
        <span style="font-size:1.9rem;cursor:pointer" onclick="openNav()"><i class="page-icon fas fa-bars"></i></span>
        <a href="{% url 'home' %}" class="navbar-brand ml-4 my-0"><img src="{% static 'images/logos/Esse.svg'%}"
                width="75" height="50" alt="Esse"></a>
        <nav class=" nav my-1 my-md-0 mr-md-3">
            <a class="p-1" href="{% url 'home' %}"><i class="fas fa-home"></i></a>
            {% if user.is_authenticated %}
            <a class="p-1 my-auto" href="{% url 'profiles:profile' %}"><img class="rounded-circle" width="50"
                    height="50" src="{{ request.user.profile.avatar.url }}" alt="{{request.user}}"></a>
            <a class="p-1" href="{% url 'account_logout' %}"><i class="fas fa-sign-out-alt"></i></a>
            {% else %}
            <a class="p-1" href="{% url 'account_login' %}"><i class="fas fa-sign-in-alt"></i></a>

            <button type="submit" class="signup-btn"><a class="signup-btn" href="{% url 'account_signup' %}"><i
                        class="fas fa-pencil-alt"></i>Sign
                    Up</a></button>
            {% endif %}
        </nav>
    </div>
</header>
<nav id="sideNav" class=" nav sidenav">
    {% include 'includes/topbar.html' %}
    <div class="sidenav-head">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()" style="font-size:1.9rem;cursor:pointer;"><i
                class="page-icon far fa-window-close"></i></a>
    </div>

    <div id="SideNavItems" class="sidenav-items color">
        <a href=""><i class="page-icon fas fa-user-friends">&nbsp;</i>Friends</a>
        <a href=""><i class="page-icon fas fa-users">&nbsp;</i>Family</a>
        <a href=""><i class="page-icon fas fa-photo-video">&nbsp;</i>Portfolio</a>
        <a href=""><i class="page-icon fas fa-calendar-alt">&nbsp;</i>&nbsp;Calendar</a>
    </div>

</nav>
{% block postload_js %}
<script>
    function openNav() {
        document.getElementById("sideNav").style.width = "10rem";
    }

    function closeNav() {
        document.getElementById("sideNav").style.width = "0";
    }
</script>
{% endblock postload_js %}