{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h2>Hello from Esse!</h2>
    <p>
        You're receiving this e-mail because your friend,{{ form.name.value }}, has given your e-mail address to invite
        you to
        register for a free account on Esse.</p>
    <p>
        With Esse, you can upload your phoos to albums and share them with friends and family and view your friend
        albums. You can add friends as family and share your private albums too.</p>
    <p> You are not obligated to share anything with anyone but {{ form.name.value }}
        would like to share theirs with you.</p>
    </p>
    <p>
        Sign up is free and storage of your photos is in a secure cloud store with contigency
        backups.</p>
    <p> We are all about
        preserving and sharing special memories with family and friends so, even if you
        delete
        your account by accident (it could happen!), your photos will not be deleted.</p>
    <p>
        If you delete your photos through our site though, they will no longer be stored.</p>
    <p>
        To register, go <a href="https://esse-app.herokuapp.com/accounts/signup/">here</a>
    </p>
    <p>To find out more go <a href="https://esse-app.herokuapp.com/about/">here</a></p>

    <p>If you prefer to ignore this message please rest assured that your email address has not been saved and you will
        not receive any spam from us!</p>

    <p>Thank you!</p>
    <p>From Esse</p>
</body>

</html>