{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ portfolio.name }}{% endblock title %}

{% block content %}

<h1>{{ portfolio.name }}</h1>

{% with buckets.count as total_buckets %}
<h2>{{ total_buckets }} bucket{{ total_buckets|pluralize }}</h2>
{% endwith %}
{% for bucket in buckets %}
<div>
    <p>
        Bucket {{ forloop.counter }}: {{ bucket.name }} <br>
        Last updated {{ bucket.updated }}
    </p>
    {% empty %}
    <p>This portfolio is currently empty, use the form below to add a new bucket.</p>
    {% endfor %}

    {% if new_bucket %}
    <h2>Your bucket has been added.</h2>
    {% else %}
    <h2>Add a new bucket</h2>
    <form method="post">
        {% csrf_token %}
        {{ bucket_form|crispy }}
        <input class="btn btn-outline-info" type="submit" value="Add bucket">
    </form>
    {% endif %}
</div>
{% endblock %}