{% extends '_base.html' %}

{% block title %}Portfolios{% endblock title %}

{% block content %}

{% if request.user.is_authenticated %}

<h1>{{ request.user.username|title }}'s Portfolios</h1>

{% for portfolio in portfolios %}
<h2>
    <a href="{{ portfolio.get_absolute_url }}"> {{ portfolio.name }}</a>
</h2>
<p>Last updated on {{ portfolio.updated }}</p>
{% if portfolio.description %}
<p>{{ portfolio.description|truncatewords:30|linebreaks }}</p>
{% endif%}
{% empty %}
<p>You haven't created a portfolio yet.</p>
{% endfor %}

{% else %}
<p>Welcome, user. Login or sign up here.</p>
<a href="{% url 'account_login' %}">Log In</a><br>
<a href="{% url 'account_signup' %}">Sign Up</a>
{% endif %}


{% endblock content %}