{% extends '_base.html' %}
{% load cloudinary %}
{% load static %}

{% block extra_title %}Donate{% endblock extra_title %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/stripe.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="container">
    <h1>Donate to the project!</h1>
    <p class="pages-p">If you are enjoying using this site, please consider adding a small donations to the kitty so we
        can keep
        improving it.</p>
    <div class="donate">
        <p>Donate £5</p>

    </div>
</div>

{% block post_load_js %}
{{ block.super }}
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock post_load_js %}

{% endblock content %}