{% extends '_base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
<div id="about" class="about-image">
    <img class="esse-image" src="/static/images/Esse-about-white.png">
</div>
<div class="container">
    <div class="about-text">
        <h4>ABOUT</h4>
        <p class="lead pages-p">
            Esse - actual being - essential nature - essence.
        </p>
        <p class="pages-p">Esse does not try to replace any other social media platforms but instead compliment them.
        </p>
        <p class="pages-p">
            The impact of COVID has prevented social interaction for the greater part and we are missing out on memories
            with loved ones. More than ever there is a need for family albums to preseve and share our memories with
            those closest to us and that is what Esse is for.
        </p>
        <p class="pages-p">
            Developed for sharing treasured images in albums that
            are easily accessed for continual browsing by family and friends and providing safe storage in the cloud of
            all
            user assets using Cloudinary.</p>
        <p class="pages-p">Cloudinary utilises widely accepted security standards and regulations, enterprise security
            features and
            contingency backup processes.
        </p>
        <p class="pages-p">
            Disclaimer: Esse is an educational project still under development with many additional features to follow
            and on going impovemnts to the existing ones.
        </p>
    </div>
</div>

{% endblock content %}