{% extends '_base.html' %}
{% load cloudinary %}

{% block extra_title %}Home{% endblock extra_title %}

{% block content %}
<div id="home" class="hero-image">
    <div class="hero-text">
        <h1 class="hero">Behind us are memories, beside us our family and friends</h1>
        <!-- <h5 style="color:white;" class="">The best things in life come in three's...<span class="large-text">Friends,
                Family &
                Memories</span></h5> -->
    </div>
</div>
<div id="motivate">
    <div class="container mt-3 smaller-text">
        <p class="pages-p"><em>Why do I need to create an account?</em></p>
        <p class="pages-p">When you create an account you are able upload your photos to
            <em>your </em>
            albums and they are then uniquely
            identified as <em><strong>your property</strong></em>. It also means that you can connect with other users
            and create your
            friend and
            family lists to share them with. That's the whole point, right?</p>
        <p class="pages-p">
            Sign up is free and there are no monthly subscriptions. You can contact us anytime if you have any questions
            or need help.
        </p>
        <div class="space"></div>
    </div>
    <div class="space"></div>
</div>

{% endblock content %}