{% extends '_base.html' %}
{% load cloudinary %}

{% block extra_title %}Home{% endblock extra_title %}

{% block content %}
<div class="container-fluid">
    {% if find_list|length == 0 %}
    <div class="row">
        <!-- TODO create email invite -->
        <div class="col">
            <h2>{{ request.user}} we weren't able to make any suggestions just yet; would you like to send an email
                invite?</h2>
            <a href="" class="btn btn-outline-info"><i class="fas fa-share-alt"></i></a>
        </div>
    </div>
    {% else %}
    <h3>{{ request.user}} we found {{ find_list|length }} users we think you may know</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 text-center mx-auto">
        {% for result in find_list %}
        <div class="col mb-4">
            <div id="profile-card" class="card bg-transparent profile-card d-flex" style="width: auto;">
                <div class="card-body mt-2" id="profile-card-body">
                    <h5 class="card-title">{{ result.profile|title }}</h5>
                    <img src="{{ result.profile.avatar.url }}" class="img-thumbnail" alt="{{ result.user }}"
                        width="auto" height="2em">
                    <p class="card-text pages-p p-1">{{ result.profile.status }}</p>
                </div>
                <a href="{% url 'profiles:send_request' result.id %}" class="btn btn-outline-info" data-toggle="tooltip"
                    data-placement="top" title="Send friend request"><i class="fas fa-user-plus"></i></a>
                {# if request aleady sent cancel request #}
                <a href="{% url 'profiles:cancel_request' result.id %}" class="btn btn-outline-info data-toggle="
                    data-toggle="tooltip" data-placement="top" title="Cancel friend request"><i
                        class=" fas fa-user-minus"></i></a>
                {# if request received delete request #}
                <a href="{% url 'profiles:delete_request' result.id %}" class="btn btn-outline-info"
                    data-toggle="tooltip" data-placement="top" title="Delete friend request"><i
                        class="fas fa-user-times"></i></a>
                {# if request received accept request #}
                <a href="{% url 'profiles:accept_request' result.id %}" class="btn btn-outline-info"
                    data-toggle="tooltip" data-placement="top" title="Accept friend request"><i
                        class="fas fa-user-check"></i></a>
            </div>
            <!-- TODO add logic to change button is friend request already sent -->
        </div>
        {% endfor %}
    </div>

    <!-- TODO create email invite -->
    <div class="row">
        <div class="col">
            <h3>Do you want to let your friends and family know
                you would like to share your albums with them?</h3>
            <a href="" class="btn btn-outline-info"><i class="fas fa-share-alt"></i></a>
        </div>
    </div>
    {% endif %}
</div>
<script>
    //enable all tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock content %}