{% extends '_base.html' %}
{% load cloudinary %}
{% block extra_title %}Friends{% endblock extra_title %}
{% block content %}
<div class="container">
    <h3>{{ profile|title }}'s family</h3>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 text-center mx-auto">
        {% for family in profile.get_relations %}
        <div class="col mb-4">
            <div id="profile-card" class="card bg-transparent profile-card d-flex" style="width: auto;">
                <div class="card-body mt-2" id="profile-card-body">
                    <!-- transform applied to prevent stretch beyond card-title -->
                    <h5 class="card-title" style="transform: rotate(0);">
                        <a class="stretched-link"
                            href="{{ family.profile.get_absolute_url }}">{{ friend.profile|title }}</a>
                    </h5>
                    <a href="{{ family.profile.get_absolute_url }}" data-toggle="tooltip" data-placement="top"
                        title="View profile">
                        <img src="{{ family.profile.avatar.url }}" class="img-thumbnail" alt="{{ family.profile }}"
                            width="auto" height="2em"></a>
                    <p class="card-text pages-p p-1">{{ family.profile.status }}</p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="pages-p">Family can be added from your friends list</p>
    {% endfor %}
</div>
{% endblock content %}