{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block extra_title %}{{ profile }}{% endblock extra_title %}

{% block content %}
<div id="profile" class="container">
    {% if request.user.username == profile.user.username %}
    <p class="pages-p small"><em> You are currently viewing your profile as seen by other users</em></p>
    <a href="">
    </a>
    {% else %}
    {% endif %}
    <h3 class="text-center">{{ profile|title }}'s Profile</h3>
    <div class="row">
        <div class="col-12 profile">
            <div class="col my-auto mx-auto avatar img-thumb">
                {% cloudinary profile.avatar.url fetch_format="auto" gravity="faces" crop="scale" %}
            </div>
            <div class="col-8">
                <i class="page-icon fas fa-quote-left"></i>
                &nbsp;{{ profile.status }}&nbsp;
                <i class="page-icon fas fa-quote-right"></i>
            </div>
        </div>
    </div>
    {% if request.user.username != profile.user.username %}
    <div class="row mt-3">
        <div class="col-auto ml-auto">
            <!-- buttons for friend actions -->
            {% if profile in friends %}
            <a href="" data-toggle="tooltip" data-placement="top" title="Delete friend" id="removeBtn" type="button"
                class="btn btn-outline-danger"><i class="fas fa-times"></i>
            </a>
            <a href="" data-toggle="tooltip" data-placement="top" title="Add friend to family" id="familyBtn"
                type="button" class="btn btn-outline-primary"><i class="fas fa-check"></i>
            </a>
            {% endif %}
            {% for rec in rec_req %}
            {% if rec.from_user %}
            <a href="" data-toggle="tooltip" data-placement="top" title="Accept friend request" id="acceptBtn"
                type="button" class="btn btn-outline-success"><i class="fas fa-user-check"></i>
            </a>
            <a href="{% url 'profiles:delete_request' request.user.id %}" data-toggle="tooltip" data-placement="top"
                title="Delete friend request" id="deleteBtn" type="button" class="btn btn-outline-danger"><i
                    class="fas fa-user-times"></i>
            </a>
            {% endif %}
            {% endfor %}
            {% for sent in sent_req %}
            {% if sent.to_user %}
            <a href="{% url 'profiles:cancel_request' profile.user.id %}" data-toggle="tooltip" data-placement="top"
                title="Cancel friend request" id="cancelBtn" type="button" class="btn btn-outline-secondary"><i
                    class="fas fa-user-minus"></i>
            </a>
            {% endif %}
            {% endfor %}
            {% if add_friend %}
            <a href="{% url 'profiles:send_request' profile.user.id %}" data-toggle="tooltip" data-placement="top"
                title="Send friend request" id="sendBtn" type="button" class="btn btn-outline-info"><i
                    class="fas fa-user-plus"></i>
            </a>
            {% endif %}
        </div>
    </div>
    {% endif %}
    <h3 class="text-center">{{ profile|title }}'s Friends</h3>
    {% if profile.get_friends %}
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Friends</th>
                <th scope="col" class="status"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for friend in profile.get_friends %}
            <tr>
                <td class="profile-thumb">
                    {% cloudinary friend.profile.avatar.url fetch_format="auto" gravity="faces" radius="max" crop="crop"  %}
                </td>
                <td><a href="{{ friend.profile.get_absolute_url }}">{{ friend.profile.user|title }}</a></td>
                <td class="status">{{ friend.profile.status }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% else %}
    <p class="pages-p">{{ profile|title }} doesn't have any friends yet.</p>
    {% endif %}
    <h3 class="text-center">{{ profile|title }}'s Albums: {{ albums|length }}</h3>
    <div id="profile-gallery">
        {% if request.user in family or request.user.username == profile.user.username %}
        <p class="pages-p">{{ profile|title }}'s Albums shared with family</p>
        <div class="row">
            <div class=" col-6 portfolio">
                <h4 class="text-center">Private: {{ pvt_albums|length }}</h4>
                {% for album in pvt_albums %}
                <ul>
                    <li>
                        <span class="title"><a href="{% url 'albums:user_album' album.slug %}">{{ album.title|title }}:
                                {{ album.get_asset_count }}</a></span>
                    </li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}
            <hr>
            {% if request.user in friends or request.user.username == profile.user.username %}
            <div class="col-6 portfolio">
                <h4 class="text-center">Public: {{ plc_albums|length }}</h4>
                {% for album in plc_albums %}
                <ul>
                    <li>
                        <span class="title"><a
                                href="{% url 'albums:user_album' album.slug %}">{{ album.title|title }}</a>:
                            {{ album.get_asset_count }}</span>
                    </li>
                </ul>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}