{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{request.user.username}}{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'profiles:profile' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-outline-success">Updated</button>
            </form>
        </div>
    </div>
    <div class="row bt-5">

    </div>

</div>
{% endblock content %}