{% extends '_base.html' %}

{% block extra_title %}Home{% endblock extra_title %}

{% block content %}
<div class="container">
    {% if results %}
    {% for result in results %}
    <div class="row">
        <div class="card m-auto">
            <h5 class="card-title text-center mt-2 mb-0">{{ result.user.profile }}</h5>
            <div class="card-body" style="width: 18rem;">
                <img src="{{ result.user.profile.avatar.url }}" class="col img-thumbnail" alt="{{ result.user }}">
                <div class="col">
                    <p class="pages-p">{{ result.user.profile.status }}.</p>
                    <a href="{{ result.user.profile.get_absolute_url }}" class="btn btn-outline-info">View</a>
                </div>
            </div>

            {% endfor %}
        </div>
        {% else %}
        <p>Nothing matches the uername {{ query }}</p>
        {% endif %}
    </div>
</div>
{% endblock content %}