{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load cloudinary %}
{% block extra_title %}{{ album.title }}{% endblock extra_title %}

{% block content %}
<style>

</style>
<div id="assets" class="container">
    <h1>{{ album.title|title }}</h1>
    <div class="row">
        <div class="col mb-3">
            <!-- button for asset modal -->
            <button id="addMediaBtn" type="button" class="btn btn-outline-info" data-toggle="modal"
                data-target=".add-media"><i class="fas fa-images"></i>
            </button>
            <!-- back to albums -->
            <a href="{% url 'albums:gallery' %}" type="button" class="btn btn-outline-info"><i
                    class="fas fa-backward"></i></a>
        </div>
    </div>
    <!-- assets -->
    <div class="assets text-center">
        {% if not album.assets.exists %}
        <div>
            <p class="pages-p text-center mt-3">Click on the images button to start adding your photo's
        </div>
        {% endif %}
        {% for asset in display %}
        <div class="row">
            <div class="display">
                {# Renders an IMG tag for a CloudinaryImage objects. #}
                {# THUMBNAIL defined in context_processors #}
                {% cloudinary asset.media.url %}
                <p class="caption">{{ asset.title|title }}</p>
               
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- add media modal -->
    <div class="row mt-3">
        <div class="col">
            <div class="modal fade add-media" tabindex="1" role="dialog" aria-labelledby="AddMedia" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="container p-2">
                            <a href="{% url 'albums:album_detail' album.slug %}"
                                class="mb-3 btn btn-outline-danger cancel" type="submit"><i
                                    class="far fa-window-close"></i></a>
                            <div class="asset-form">
                                <h3>Add Media</h3>
                                <form action="{% url 'albums:album_detail' album.slug %}" method="post"
                                    enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ asset_form|crispy }}
                                    <button type="submit" class="btn btn-outline-success"><i
                                            class="fas fa-cloud-upload-alt"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bt-5"></div>
</div>
<script>
    // *Bootsrap* Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
<script>
    function enlarge() {
        document.querySelector('img').classList.toggle("enlarge");
        console.log("sanity check")
    }
</script>
{% endblock content %}