{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load cloudinary %}
{% block extra_title %}{{ asset.title }}{% endblock extra_title %}

{% block content %}

<div id="asset" class="container">
    <div class="row">
        <!-- back to album -->
        <a href="% url 'albums:auser_album' album.slug %}" type="button" class="btn btn-outline-info"><i
                class="fas fa-backward"></i></a>
    </div>
    <h1>{{ asset.title }}</h1>
    <div class="assets text-center">
        <div class="row">
            <div class="col">
                <div class="display">
                    {% cloudinary asset.media.url fetch_format="auto" gravity="auto" width=200 crop="thumb" %}
                </div>
            </div>
        </div>
    </div>
    <div class="row bt-5"></div>
</div>

{% endblock content %}