{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block extra_title %}{{ album.title }}{% endblock extra_title %}

{% block content %}
<div id="assets" class="container">
    <h1>{{ album.title|title }}</h1>
    <!-- button for asset modal -->
    <button id="addMediaBtn" type="button" class="btn btn-outline-info" data-toggle="modal" data-target=".add-media"><i
            class="fas fa-photo-video"></i>
    </button>
    {% for asset in assets %}
    <div class="col-12 col-sm-6 col-lg-3 asset">
        {{ asset.title|title }}
        <img class="w-100" src="{{ asset.media.url }}" alt="{{ asset.title }}">
        {{ asset.description }}
    </div>
    {% empty %}
    <div>
        <p>Use the media button to add to this album
    </div>
    {% endfor %}

    <!-- add media modal -->
    <div class="row mt-3">
        <div class="col">
            <div class="modal fade add-media" tabindex="1" role="dialog" aria-labelledby="AddMedia" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="container p-2">
                            <a href="{% url 'albums:album_detail' album.slug %}"
                                class="mb-3 btn btn-outline-danger cancel" type="submit"><i
                                    class="far fa-window-close"></i></a>
                            <div class="asset-form">
                                <h3>Add Media</h3>
                                <form action="{% url 'albums:album_detail' album.slug %}" method="post">
                                    {% csrf_token %}
                                    {{ asset_form|crispy }}
                                    <button type="submit" class="btn btn-outline-success"><i
                                            class="fas fa-user-lock"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bt-5"></div>
</div>

{% endblock content %}